@import "vars.less";
.menu{
	width: 100%;
	box-sizing: border-box;
	&__check{
		display: none;
	}
	&__label{
		display: none;
	}
}
.heading li{
	display: inline-block;
	list-style: none;
	position: relative;
	margin-right: 1.5em;
	border-bottom: 2px solid transparent;
	& .sub-menu{
		display:none;
		background-color: #ffffff;
		min-width:300px;
		position: absolute;
		left:0;
		z-index: 100;
		& li{
			display: block;
			padding:0.5em 0.5em;
			&:hover{
				border-bottom:2px solid transparent;
			}
		}
	}
	&:hover{
		transition:color;
		border-bottom: 2px solid @menuAColorHover;
	}
	&:hover>.sub-menu{
				display: block;
			}
	&>a{
		display: inline-block;
		padding: 0.7em 0.3em 0.2em;
		text-transform: lowercase;
		color:@menuAColor;
		&:hover{
			color: @menuAColorHover;
			transition:color 0.5s;
		}
	}
	&.current-menu-item{
		border-bottom: 2px solid @menuAColorHover;
	}
}
@media all and(max-width: 1366px){
	.heading li a{
		padding:0;
	}
}

@media all and(max-width: 960px){
	.menu{
		float: right;
		text-align: right;
		max-width:100%;
	}
	.heading li{
		margin-right:0;
		margin-left:5%;
		&:first-of-type{
			margin-left:0;
		}
		&:hover .sub-menu{
			display: none;
		}
	}
}
@media all and(max-width:576px){
	.menu{
		display: block;
		float: none;
		clear: both;
		text-align: center;
	}
}