.table{
	display: table;
}
.middle-block{
	display: table-row;
}
.sidebar-left, main, .sidebar-right{
	display: table-cell;
	vertical-align: top;
}
main{
	padding-right: 2em;
	box-sizing: border-box;
}
.sidebar-left{
	max-width:calc(200px + 2em);
	padding-right: 2em;
}
.sidebar-right{
	width:250px;
}