@import "vars.less";
.tileNews{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	flex-wrap:wrap;
	&__item{
		display:flex;
		flex-direction:column;
		flex-basis:200px;
		max-width:350px;
		margin: 0 5px 2.5em 0px;
		box-sizing: border-box;
		flex-grow:1;
	}
	&__meta{
		margin-bottom:0.5em;
	}
	&__meta, &__meta>a{
		color:lighten(@headersColor, 20%);
		text-transform: lowercase;
	}
	&__date{
		font-size: 0.8em;
		float: right;
	}
	&__heading{
		float: left;
		border:1px solid lighten(@headersColor, 20%);
		border-radius:3px;
		padding:0 0.2em 0.2em;
		font-size: 0.8em;
	}
}