@import "vars.less";
.trplArticles{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	&__rightBlock{
		display: flex;
		width: 33%;
		flex-direction:column;
		min-width: 200px;
		position: relative;
		overflow: hidden;
		margin-bottom: 2.5em;
		&:last-of-type{
			margin-right: 0;
		}
	}
	&__rightBlock:hover &__img{
			transform: scale(1.1);
		}
	&__img{
		width: 100%;
	}
	&__info{
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		position: absolute;
		padding:1em 1.5em;
		top:0;
		left:0;
		background-image: linear-gradient(to top, rgba(40,64,70,0.9) 30%, rgba(40,64,70,0.3) 70%, rgba(40,64,70,0.8) 100%);
	}
	&__data, &__heading{
		max-width: 100px;
		font-size: 0.8em;
		color:rgba(255,255,255, 0.7);
	}
	&__heading{
		border:1px solid rgba(255,255,255,1);
		border-radius:3px;
		padding:0.02em 0.2em 0.2em;
		text-transform: lowercase;
		&:hover{
			border:1px solid rgba(255,255,255,0.5);
			color:rgba(255,255,255,0.5);
		}
	}
	&__header{
		font-size:1.4em;
		color:rgba(255,255,255,1);
		margin-top:0.5em;
	}
}
@media all and(max-width:1200px){
	.trplArticles{
		&__info{
			justify-content: flex-start;
		}
		&__header{
			font-size:1.2em;
		}
		&__heading{
			color:white;
		}
	}
}
@media all and(max-width:1140px){
	.trplArticles{
		flex-wrap: wrap;
		&__rightBlock{
			width:calc(50% - 1em);
			flex-grow:none;
		}
		&__header{
			font-size:1.5em;
		}
		&__img{
			width: auto;
		}
		&__heading{
			margin-left:1em;
		}
		&__rightBlock:last-of-type{
			display: block;
			position: relative;
			width:100%;
			max-width: none;
			overflow: hidden;
			padding: 0.5em;
			> .trplArticles__img{
				display: inline-block;
				width: 100px;
				height: 66px;
				margin-right: 1em;	
			}
			> .trplArticles__info{
				display:inline-block;
				width:calc(100% - 100px - 2em);
				position: static;
				background-image: none;
				padding:0;
				vertical-align:top;
			}
			.trplArticles__header{
				font-size: 1.2em;
			}
			 .trplArticles__header, .trplArticles__data{
				color:@menuAColor;
			}
			.trplArticles__heading{
				color:@menuAColor;
				border:1px solid @menuAColor;
				&:hover{
					color:;
				}
			}
			&:hover .trplArticles__header{
				color:@menuAColorHover;
			}
			&:hover .trplArticles__img{
				transform: none;
			}
			&::after{
				display: block;
				position: absolute;
				bottom:0;
				content: '';
				height: 1px;
				width: 100%;
				background-image: linear-gradient(to left, rgba(40,64,70,.8) 60%,rgba(240,230,205,.5));
			}
		}
	}
}
@media all and(max-width: 960px){
	.trplArticles{
		flex-wrap:nowrap;
		&__rightBlock, &__rightBlock:last-of-type{
			display: flex;
			width: 33%;
			flex-direction:column;
			min-width: 200px;
			position: relative;
			overflow: hidden;
			margin-bottom: 2.5em;
			margin-right:1%;
	}
		&__header{
			font-size:1.2em;
		}
		&__rightBlock:last-of-type{
			margin-right: 0;
			padding:0;
			>.trplArticles__img{
				width:100%;
				height: 100%;
			}
			>.trplArticles__info{
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				width: 100%;
				height: 100%;
				box-sizing: border-box;
				position: absolute;
				padding:1em 1.5em;
				top:0;
				left:0;
				background-image: linear-gradient(to top, rgba(40,64,70,0.9) 30%, rgba(40,64,70,0.3) 70%, rgba(40,64,70,0.8) 100%);
			}	
				.trplArticles__data, .trplArticles__heading{
				max-width: 100px;
				font-size: 0.8em;
				color:rgba(255,255,255, 0.7);
			}
			.trplArticles__heading{
				border:1px solid rgba(255,255,255,1);
				border-radius:3px;
				padding:0.02em 0.2em 0.2em;
				text-transform: lowercase;
				&:hover{
					border:1px solid rgba(255,255,255,0.5);
					color:rgba(255,255,255,0.5);
				}
			}
			.trplArticles__header{
				font-size:1.2em;
				color:rgba(255,255,255,1);
				margin-top:0.5em;
			}
			&:hover .trplArticles__header{
				color:rgba(255,255,255,1);
			}
			&:hover .trplArticles__img{
				transform:scale(1.1);
			}
		}
	}
}